.navbar_container {
  background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 45%);
}

.mysaved {
  border: 1px solid var(--color-white);
}

.mysaved:hover {
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.postbutton {
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.postbutton:hover {
  color: white;
}

.postbutton:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -10;
  transform: translateY(200%) scale(2.5); /* Move it down and scale up */
  border-radius: 100%; /* Fully rounded */
  background-color: var(--secondary); /* Use the secondary color variable */
  transition: transform 1s ease; /* Smooth transition for the transform */
}

.postbutton:hover:before {
  transform: translateY(0) scale(2.5); /* Bring it back into view on hover */
}

.stepbutton {
  color: var(--primary);
  border: 1px solid var(--primary);
}

.stepbutton:hover {
  color: white;
}

.stepbutton:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -10;
  transform: translateY(200%) scale(2.5); /* Move it down and scale up */
  border-radius: 100%; /* Fully rounded */
  background-color: var(--primary); /* Use the secondary color variable */
  transition: transform 1s ease; /* Smooth transition for the transform */
}

.stepbutton:hover:before {
  transform: translateY(0) scale(2.5); /* Bring it back into view on hover */
}
